@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: oklch(14.5% 0 0);
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}
